body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
  width: 80%;
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #0074D9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.blog-posts-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
  flex-direction: row;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  justify-content: left;
  align-items: left;
  transition: transform 0.3s ease-in-out;
}

.blog-posts:hover {
  transform: scale(1.05);
}


input {
  padding: 5px;
  margin: 5px 0;
  width: calc(100% - 12px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

